{% extends 'base.html' %}

{% block head%}
    <title>Departamento de Transportación y Obras Públicas</title>
    <link rel="import" href="base.html">
    <link rel="stylesheet" href="\static\bootstrap\css\contactInfo-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}

{% block body %}
    <main>   
        <div class="top-grid">
            <br />
            <img src="https://img.techpowerup.org/201123/dtop-mini460.jpg" alt="DTOP-mini" border="0"/>
            <h1>Departamento de Transportación y Obras Públicas</h1>
        </div>
        <div class="section1">
            <p> The Department of Transportation and Public Works (DTOP) is an executive department of the
                government of Puerto Rico responsible for regulating and administering public infrastructures
                and transportation systems on the island.
            </p>
            <br />
            <p>This agency is responsible for helping with faults related to any of the following:</p>
            <ul>
                <li>Public Roads</li>
                <li>Driver's License</li>
                <li>Vehicle Registration</li>
            </ul>
        </div>
        <div style="align-content: center;" class="mid-section">
            <a href="https://dtop.pr.gov/" target="_blank"><img src="https://img.techpowerup.org/201123/dtop.jpg" alt="DTOP" border="0"></a>
        </div>
        <div class="section2">
            <div class="tel-address">
                <h3><i class="fas fa-mobile-alt fa-lg"></i> Telephones</h3>
                <div class="telephones">
                    <br />
                    <span>Central Office: </span><span><a href="tel:(787)722-2929" style="text-decoration: none; color: slategray">(787) 722-2929</a></span>
                    <br />
                    <span>Fax: </span><span><a href="tel:(787)725-1620" style="text-decoration: none; color: slategray">(787) 725-1620</a></span>
                    <br />
                    <br /> 
                </div>
                <h3></li><i class="fab fa-usps fa-lg"></i> Address</h3>
                <div class="address">
                    <br />
                    <span>Box 41269, Minillas Station
                        <br />
                        San Juan, PR 00940-1269
                    </span></li>
                </div>
            </div>
        </div>
        <div class="section3">
            <h1>Social Media</h1>
            <div class="button">
                <div class="icon"><a href="https://dtop.pr.gov/" target="_blank"><i class="fas fa-link"></i></a></div>
                <a href="https://dtop.pr.gov/" style="text-decoration: none" target="_blank"><span>Website</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.facebook.com/dtop/" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
                <a href="https://www.facebook.com/dtop/" style="text-decoration: none" target="_blank"><span>Facebook</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://twitter.com/DTOP" target="_blank"><i class="fab fa-twitter"></i></a></div>
                <a href="https://twitter.com/DTOP" style="text-decoration: none" target="_blank"><span>Twitter</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://portalserviciosdisco.dtop.pr.gov/#/index" target="_blank"><i class="fas fa-laptop"></i></a></div>
                <a href="https://portalserviciosdisco.dtop.pr.gov/#/index" style="text-decoration: none" target="_blank"><span>Services</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.youtube.com/channel/UCiXFbDfXcleAW9ophYcRDEg" target="_blank"><i class="fab fa-youtube"></i></a></div>
                <a href="https://www.youtube.com/channel/UCiXFbDfXcleAW9ophYcRDEg" style="text-decoration: none" target="_blank"><span>Youtube</span></a>
            </div>
        </div>
    </main>
{% endblock %}