{% extends 'base.html' %}

{% block head%}
    <title>Autoridad de Energía Eléctrica</title>
    <link rel="import" href="base.html">
    <link rel="stylesheet" href="\static\bootstrap\css\contactInfo-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}

{% block body %}
    <main>   
        <div class="top-grid">
            <img src="https://aeepr.com/_catalogs/masterpage/AEEPR/img/favicon.ico?rev=40" alt="" />
            <h1>Autoridad de Energía Eléctrica</h1>
        </div>
        <div class="section1">
            <p> The Puerto Rico Electric Power Authority or "Autoridad de Energía Eléctrica" is the electric power 
                company owned by the Commonwealth of Puerto Rico. It is the main electrical service provider on the island.
            </p>
            <br />
            <p>This agency is responsible for repairing faults related to any of the following:</p>
            <ul>
                <li>Power Distribution</li>
                <li>Electricity Generation</li>
                <li>Power Transmition</li>
            </ul>
        </div>
        <div style="align-content: center;" class="mid-section">
            <!--<img src="https://i.ibb.co/N7zWyvR/AEE3.png" alt="AEE3" border="0">-->
            <img src="https://i.ibb.co/b7nVTfF/AEE2.jpg" alt="AEE2" border="0">
        </div>
        <div class="section2">
            <div class="tel-address">
                <h3>Telephones</h3>
                <div class="telephones"><i class="fas fa-mobile-alt fa-lg"></i>
                    <br />
                    <span>Customer Service: </span><span><a href="tel:(787)521-3434" style="text-decoration: none; color: slategray">(787) 521-3434</a></span>
                    <br />
                    <span>Island: </span><span><a href="tel:1-800-981-2434" style="text-decoration: none; color: slategray">1-800-981-2434</a></span>
                    <br />
                    <span>Fax: </span><span><a href="tel:(787)521-4120" style="text-decoration: none; color: slategray;">(787) 521-4120</a></span>
                    <br />
                    <span>Mobile Payment: </span><span><a href="tel:(787)521-2121" style="text-decoration: none; color: slategray;">(787) 521-2121</a></span>
                    <br />
                    <span>Hearing Impaired: </span><span><a href="tel:(787)521-3050" style="text-decoration: none; color: slategray;">(787) 521-3050</a></span>
                    <br />
                    <br /> 
                </div>
                <h3>Address</h3>
                <div class="address"></li><i class="fab fa-usps fa-lg"></i>
                    <br />
                    <span>PO Box 364267 
                        <br />
                        San Juan, PR 00936-4267
                    </span></li>
                </div>
            </div>
        </div>
        <div class="section3">
            <h1>Social Media</h1>
            <div class="button">
                <div class="icon"><a href="https://aeepr.com/es-pr"><i class="fas fa-link"></i></a></div>
                <a href="https://aeepr.com/es-pr" style="text-decoration: none"><span>Website</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.facebook.com/aeepronline/"><i class="fab fa-facebook-f"></i></a></div>
                <a href="https://www.facebook.com/aeepronline/" style="text-decoration: none"><span>Facebook</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://twitter.com/AEEONLINE?ref_src=twsrc%5Etfw"><i class="fab fa-twitter"></i></a></div>
                <a href="https://twitter.com/AEEONLINE?ref_src=twsrc%5Etfw" style="text-decoration: none"><span>Twitter</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.instagram.com/aeeonline/"><i class="fab fa-instagram"></i></a></div>
                <a href="https://www.instagram.com/aeeonline/" style="text-decoration: none"><span>Instagram</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.youtube.com/channel/UCMAVeij0wG10tuLIVwyaY5w?utm_source=Aeepr&amp;utm_medium=AeeprYoutubeLogo&amp;utm_campaign=AeeprYoutubeLogo"><i class="fab fa-youtube"></i></a></div>
                <a href="https://www.youtube.com/channel/UCMAVeij0wG10tuLIVwyaY5w?utm_source=Aeepr&amp;utm_medium=AeeprYoutubeLogo&amp;utm_campaign=AeeprYoutubeLogo" style="text-decoration: none"><span>Youtube</span></a>
            </div>
        </div>
    </main>
{% endblock %}
