{% extends 'base.html' %}

{% block head%}
    <title>Autoridad de Acueductos y Alcantarillados</title>
    <link rel="import" href="base.html">
    <link rel="stylesheet" href="\static\bootstrap\css\contactInfo-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}

{% block body %}
    <main>   
        <div class="top-grid">
            <br />
            <img src="https://img.techpowerup.org/201122/aaa-mini.jpg"/>
            <h1>Autoridad de Acueductos y Alcantarillados</h1>
        </div>
        <div class="section1">
            <p> The "Autoridad de Acueductos y Alcantarillados" (AAA) is the main water and sewage corporation
                in Puerto Rico which provides its inhabitants with service of potable water, sanitary sewerage and
                any other services related to water supply.
            </p>
            <br />
            <p>This agency is responsible for repairing faults related to any of the following:</p>
            <ul>
                <li>Water Quality</li>
                <li>Water Pressure</li>
                <li>Water Resource Management</li>
            </ul>
        </div>
        <div style="align-content: center;" class="mid-section">
            <a href="https://acueductospr.com/" target="_blank"><img src="https://img.techpowerup.org/201122/aaa1.jpg" alt="AAA1" border="0"></a>
        </div>
        <div class="section2">
            <div class="tel-address">
                <h3><i class="fas fa-mobile-alt fa-lg"></i> Telephones</h3>
                <div class="telephones">
                    <br />
                    <span>Customer Service: </span><span><a href="tel:(787)620-2482" style="text-decoration: none; color: slategray">(787) 620-2482</a></span>
                    <br />
                    <span>Central Office: </span><span><a href="tel:(787)620-2277" style="text-decoration: none; color: slategray">(787) 620-2277</a></span>
                    <br />
                    <span>Fax: </span><span><a href="tel:(787)756-2374" style="text-decoration: none; color: slategray;">(787) 756-2374</a></span>
                    <br />
                    <span>Hearing Impaired: </span><span><a href="tel:(787)679-7322" style="text-decoration: none; color: slategray;">(787) 679-7322</a></span>
                    <br />
                    <br /> 
                </div>
                <h3></li><i class="fab fa-usps fa-lg"></i> Address</h3>
                <div class="address">
                    <br />
                    <span>PO Box 7066
                        <br />
                        San Juan, PR 00916-7066
                    </span></li>
                </div>
            </div>
        </div>
        <div class="section3">
            <h1>Social Media</h1>
            <div class="button">
                <div class="icon"><a href="https://acueductospr.com/" target="_blank"><i class="fas fa-link"></i></a></div>
                <a href="https://acueductospr.com/" style="text-decoration: none" target="_blank"><span>Website</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.facebook.com/Acueductospr/" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
                <a href="https://www.facebook.com/Acueductospr/" style="text-decoration: none" target="_blank"><span>Facebook</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://twitter.com/ACUEDUCTOSPR" target="_blank"><i class="fab fa-twitter"></i></a></div>
                <a href="https://twitter.com/ACUEDUCTOSPR" style="text-decoration: none" target="_blank"><span>Twitter</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.instagram.com/ACUEDUCTOSPR/" target="_blank"><i class="fab fa-instagram"></i></a></div>
                <a href="https://www.instagram.com/ACUEDUCTOSPR/" style="text-decoration: none" target="_blank"><span>Instagram</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.youtube.com/user/AcueductosPR" target="_blank"><i class="fab fa-youtube"></i></a></div>
                <a href="https://www.youtube.com/user/AcueductosPR" style="text-decoration: none" target="_blank"><span>Youtube</span></a>
            </div>
        </div>
    </main>
{% endblock %}