{% extends 'base.html' %}

{% block head%}
    <title>Departamento de Asuntos del Consumidor</title>
    <link rel="import" href="base.html">
    <link rel="stylesheet" href="\static\bootstrap\css\contactInfo-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}

{% block body %}
    <main>   
        <div class="top-grid">
            <br />
            <img src="https://img.techpowerup.org/201123/daco1-mini.png" alt="DACO-mini" border="0"/>
            <h1>Departamento de Asuntos del Consumidor</h1>
        </div>
        <div class="section1">
            <p> The Department of Consumer Affairs (DACO) is an executive department of the government of
                Puerto Rico responsible for protecting and defending consumers' interest on the island.
            </p>
            <br />
            <p>This agency is responsible for helping with faults related to any of the following:</p>
            <ul>
                <li>False Advertisements</li>
                <li>Price of Items</li>
                <li>Inflationary Trends</li>
                <li>Deceptive Services</li>
            </ul>
        </div>
        <div style="align-content: center;" class="mid-section">
            <a href="https://www.daco.pr.gov/" target="_blank"><img src="https://img.techpowerup.org/201123/daco-resized.jpg" alt="DACO" border="0"></a>
        </div>
        <div class="section2">
            <div class="tel-address">
                <h3><i class="fas fa-mobile-alt fa-lg"></i> Telephones</h3>
                <div class="telephones">
                    <br />
                    <span>Orientation and Services: </span><span><a href="tel:311" style="text-decoration: none; color: slategray">3-1-1</a></span>
                    <br />
                    <span>Administrative Office: </span><span><a href="tel:(787)722-7555" style="text-decoration: none; color: slategray">(787) 722-7555</a></span>
                    <br />
                    <br /> 
                </div>
                <h3></li><i class="fab fa-usps fa-lg"></i> Address</h3>
                <div class="address">
                    <br />
                    <span>Box 41059, Minillas Station
                        <br />
                        San Juan, PR 00940-1059
                    </span></li>
                </div>
            </div>
        </div>
        <div class="section3">
            <h1>Social Media</h1>
            <div class="button">
                <div class="icon"><a href="https://www.daco.pr.gov/" target="_blank"><i class="fas fa-link"></i></a></div>
                <a href="https://www.daco.pr.gov/" style="text-decoration: none" target="_blank"><span>Website</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.facebook.com/DACOATUFAVOR/" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
                <a href="https://www.facebook.com/DACOATUFAVOR/" style="text-decoration: none" target="_blank"><span>Facebook</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://twitter.com/dacoatufavor" target="_blank"><i class="fab fa-twitter"></i></a></div>
                <a href="https://twitter.com/dacoatufavor" style="text-decoration: none" target="_blank"><span>Twitter</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="https://www.instagram.com/dacoatufavor/" target="_blank"><i class="fab fa-instagram"></i></a></div>
                <a href="https://www.instagram.com/dacoatufavor/" style="text-decoration: none" target="_blank"><span>Instagram</span></a>
            </div>
            <div class="button">
                <div class="icon"><a href="mailto:servicio@daco.pr.gov" target="_blank"><i class="far fa-envelope"></i></a></div>
                <a href="mailto:servicio@daco.pr.gov" style="text-decoration: none" target="_blank"><span>Email</span></a>
            </div>
        </div>
    </main>
{% endblock %}